@model List<SWeb.Models.Carrito>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Mi Carrito</h5>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
        }

        <div class="table-responsive">
            <table id="example" class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Total</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ConsecutivoProducto - @item.Nombre</td>
                            <td>@item.Unidades</td>
                            <td>@item.Precio.ToString("N2")</td>
                            <td>@item.Total.ToString("N2")</td>
                            <td>@item.Fecha.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                            <td>
                                <a id="AbrirModal" href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                   data-consecutivoProducto="@item.ConsecutivoProducto" data-nombre="@item.Nombre">
                                    <i class="fa fa-trash" style="font-size:1.6em;"></i>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <br><br />

        <div class="row">
            <div class="col-4">
                <p style="font-size:13pt; margin-top:2%;">El monto a cancelar es de: <b>¢ @decimal.Parse(Context.Session.GetString("Total")!).ToString("N2") </b></p>
            </div>
            @if (Context.Session.GetString("Total") != null && Context.Session.GetString("Total") != "0")
            {
                <div class="col-8">
                    <form asp-action="PagarCarrito" asp-controller="Carrito">
                        <button type="submit" class="btn btn-outline-primary" style="width:200px;">Pagar</button>
                    </form>
                </div>
            }
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:650px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-action="RemoverProductoCarrito" asp-controller="Carrito">
                <div class="modal-body">

                    <input type="hidden" id="ConsecutivoProducto" name="ConsecutivoProducto" value="">
                    ¿Desea remover el producto <label id="Nombre"></label>?

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#example").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            columnDefs: [
                { targets: [0,1,2,3,4], type:"string" }
            ]
        });

    });

    $(document).on("click", "#AbrirModal", function() {

      $("#ConsecutivoProducto").val( $(this).attr("data-consecutivoProducto") );
      $("#Nombre").text( $(this).attr("data-nombre") );

    });

</script>