@model List<SWeb.Models.Producto>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Lista de Productos</h5>

        @if (ViewBag.Mensaje != null)
        {
            <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
        }

        <br/>
        <a class="btn btn-primary" href="@Url.Action("RegistrarProducto","Producto")">
            <i class="fa fa-plus"></i> Agregar
        </a>
        <br /><br />

        <div class="table-responsive">
            <table id="example" class="table text-nowrap align-middle mb-0">
                <thead>
                    <tr class="border-2 border-bottom border-primary border-0">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Inventario</th>
                        <th>Imagen</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Consecutivo</td>
                            <td>@item.Nombre</td>
                            <td>@item.Precio.ToString("N2")</td>
                            <td>@item.Inventario</td>
                            <td><img src="@item.Imagen" style="width:160px; height:170px;"></td>
                            <td>@item.Estado</td>
                            <td>

                                <a href="@Url.Action("ActualizarProducto","Producto", new { Consecutivo = item.Consecutivo })" class="btn">
                                    <i class="fa fa-edit" style="font-size:1.6em;"></i>
                                </a>

                                <a id="AbrirModal" href="#" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                   data-consecutivo="@item.Consecutivo" data-nombre="@item.Nombre">
                                    <i class="fa fa-trash" style="font-size:1.6em;"></i>
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:650px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-action="ActualizarEstadoProducto" asp-controller="Producto">
                <div class="modal-body">

                    <input type="hidden" id="Consecutivo" name="Consecutivo" value="">
                    ¿Desea cambiar el estado del producto <label id="Nombre"></label>?

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Procesar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        $("#example").DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-ES.json',
            },
            columnDefs: [
                { targets: [0,1,2,3,4], type:"string" }
            ]
        });

    });

    $(document).on("click", "#AbrirModal", function() {

      $("#Consecutivo").val( $(this).attr("data-consecutivo") );
      $("#Nombre").text( $(this).attr("data-nombre") );

    });

</script>